<h1>Untappd</h1>

<ul>
  <li><a href="/untappd/activity_feed">Activity Feed</a></li>
  <li><a href="/untappd/buy_a_beer/martinmdrhit">Buy a beer for Mike Martin</a></li>
</ul>

<p>Token: {{access_token}}</p>
